<a href="https://colab.research.google.com/github/smritigithubacc/Deep-learning-projects/blob/main/Customer_churn_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as  np

In [ ]:
df=pd.read_csv('Churn_Modelling.csv')

In [ ]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.drop(columns=['RowNumber','CustomerId','Surname'],axis=1,inplace=True)
df.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df=pd.get_dummies(df,columns=['Gender','Geography'])

In [ ]:
print(df)

      CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0             619   42       2       0.00              1          1
1             608   41       1   83807.86              1          0
2             502   42       8  159660.80              3          1
3             699   39       1       0.00              2          0
4             850   43       2  125510.82              1          1
...           ...  ...     ...        ...            ...        ...
9995          771   39       5       0.00              2          1
9996          516   35      10   57369.61              1          1
9997          709   36       7       0.00              1          0
9998          772   42       3   75075.31              2          1
9999          792   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Exited  Gender_Female  Gender_Male  \
0                  1        101348.88       1              1            0
1                  1        112542.58       0              1            0
2                  0        113931.57       1              1            0
3                  0         93826.63       0              1            0
4                  1         79084.10       0              1            0
...              ...              ...     ...            ...          ...
9995               0         96270.64       0              0            1
9996               1        101699.77       0              0            1
9997               1         42085.58       1              1            0
9998               0         92888.52       1              0            1
9999               0         38190.78       0              1            0

      Geography_France  Geography_Germany  Geography_Spain
0                    1                  0                0
1                    0                  0                1
2                    1                  0                0
3                    1                  0                0
4                    0                  0                1
...                ...                ...              ...
9995                 1                  0                0
9996                 1                  0                0
9997                 1                  0                0
9998                 0                  1                0
9999                 1                  0                0

[10000 rows x 14 columns]

In [ ]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [ ]:
X

array([[619.,  42.,   2., ...,   0.,   1.,   0.],
       [608.,  41.,   1., ...,   0.,   0.,   0.],
       [502.,  42.,   8., ...,   0.,   1.,   0.],
       ...,
       [709.,  36.,   7., ...,   0.,   1.,   0.],
       [772.,  42.,   3., ...,   1.,   0.,   1.],
       [792.,  28.,   4., ...,   0.,   1.,   0.]])

In [ ]:
y

array([0, 1, 0, ..., 0, 0, 0], dtype=uint8)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model=Sequential()
model.add(Dense(11,activation='sigmoid',input_dim=11))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
history = model.fit(X_train,y_train,batch_size=50,epochs=100)

Epoch 1/100
160/160 [==============================] - 1s 2ms/step - loss: 0.8317 - accuracy: 0.3950
Epoch 2/100
160/160 [==============================] - 0s 2ms/step - loss: 0.6403 - accuracy: 0.6219
Epoch 3/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5916 - accuracy: 0.7085
Epoch 4/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5764 - accuracy: 0.7524
Epoch 5/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5705 - accuracy: 0.7524
Epoch 6/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5659 - accuracy: 0.7524
Epoch 7/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5604 - accuracy: 0.7524
Epoch 8/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5582 - accuracy: 0.7524
Epoch 9/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5567 - accuracy: 0.7524
Epoch 10/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5554 - accuracy: 0.7524
Epoch 11/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5545 - accuracy: 0.7524
Epoch 12/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5536 - accuracy: 0.7524
Epoch 13/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5531 - accuracy: 0.7524
Epoch 14/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5525 - accuracy: 0.7524
Epoch 15/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5520 - accuracy: 0.7524
Epoch 16/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5518 - accuracy: 0.7524
Epoch 17/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5515 - accuracy: 0.7524
Epoch 18/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5513 - accuracy: 0.7524
Epoch 19/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5510 - accuracy: 0.7524
Epoch 20/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5507 - accuracy: 0.7524
Epoch 21/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5506 - accuracy: 0.7524
Epoch 22/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5531 - accuracy: 0.7524
Epoch 23/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5530 - accuracy: 0.7524
Epoch 24/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5507 - accuracy: 0.7524
Epoch 25/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5500 - accuracy: 0.7524
Epoch 26/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 27/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5499 - accuracy: 0.7524
Epoch 28/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5506 - accuracy: 0.7524
Epoch 29/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5507 - accuracy: 0.7524
Epoch 30/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5513 - accuracy: 0.7524
Epoch 31/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5514 - accuracy: 0.7524
Epoch 32/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5527 - accuracy: 0.7524
Epoch 33/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5513 - accuracy: 0.7524
Epoch 34/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5503 - accuracy: 0.7524
Epoch 35/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5498 - accuracy: 0.7524
Epoch 36/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5501 - accuracy: 0.7524
Epoch 37/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5500 - accuracy: 0.7524
Epoch 38/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5498 - accuracy: 0.7524
Epoch 39/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 40/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5500 - accuracy: 0.7524
Epoch 41/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5500 - accuracy: 0.7524
Epoch 42/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 43/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 44/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 45/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5498 - accuracy: 0.7524
Epoch 46/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5498 - accuracy: 0.7524
Epoch 47/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5498 - accuracy: 0.7524
Epoch 48/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5498 - accuracy: 0.7524
Epoch 49/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 50/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 51/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 52/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5498 - accuracy: 0.7524
Epoch 53/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5499 - accuracy: 0.7524
Epoch 54/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 55/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5499 - accuracy: 0.7524
Epoch 56/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 57/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 58/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 59/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 60/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 61/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 62/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 63/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 64/100
160/160 [==============================] - 0s 3ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 65/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 66/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 67/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 68/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 69/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 70/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 71/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 72/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 73/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 74/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 75/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 76/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 77/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 78/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5496 - accuracy: 0.7524
Epoch 79/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 80/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 81/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 82/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5493 - accuracy: 0.7524
Epoch 83/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5492 - accuracy: 0.7524
Epoch 84/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 85/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 86/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5497 - accuracy: 0.7524
Epoch 87/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 88/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 89/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 90/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 91/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5493 - accuracy: 0.7524
Epoch 92/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 93/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 94/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 95/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 96/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7524
Epoch 97/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5493 - accuracy: 0.7524
Epoch 98/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 99/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7524
Epoch 100/100
160/160 [==============================] - 0s 2ms/step - loss: 0.5493 - accuracy: 0.7524

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (50, 11)                  154

 dense_1 (Dense)             (50, 1)                   12

=================================================================
Total params: 166
Trainable params: 166
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.layers[0].get_weights()

[array([[-1.43926647e-02,  9.50094014e-02,  3.34608136e-03,
         -1.41784374e-03,  3.68460687e-03,  9.60865524e-04,
         -5.12915337e-03,  4.31188196e-03,  2.84330361e-03,
         -7.76786311e-03,  4.96639498e-02],
        [-7.46342074e-03,  2.42108181e-02,  3.03857331e-03,
          2.65541300e-02,  5.67221409e-03,  8.52064788e-03,
         -4.75908909e-03,  2.68515497e-02, -7.86119513e-03,
          4.35305424e-02,  1.16146691e-02],
        [ 3.47784208e-03, -5.86298108e-03, -2.21205298e-02,
          1.00720990e-02,  5.43395756e-03,  1.42723657e-02,
         -5.22862934e-03,  4.83877352e-03, -3.82043328e-03,
          3.02928891e-02,  1.28558055e-02],
        [ 6.44662753e-02,  1.97145671e-01,  6.53252900e-02,
          3.39105390e-02, -3.23638916e-02, -9.69632044e-02,
         -7.42996624e-03, -6.56075552e-02,  3.04219928e-02,
          7.66558871e-02,  5.05095348e-02],
        [ 2.93911081e-02,  5.32614328e-02, -3.87768075e-03,
          2.31563915e-02, -2.41423515e-03, -1.83532014e-02,
         -1.23556294e-02, -4.50381227e-02, -1.56265143e-02,
          3.96302640e-02,  4.38241437e-02],
        [ 1.53600192e-02,  8.90218839e-03,  1.36891035e-02,
         -9.75510478e-03, -2.87972507e-03, -8.86749662e-03,
          4.95135784e-03, -1.60122458e-02,  2.94588530e-03,
         -1.10461051e-03,  6.08343072e-03],
        [-2.14842870e-03, -2.63916831e-02, -7.63621693e-03,
         -1.98427355e-03,  9.05079860e-03,  7.40915712e-04,
         -7.43281422e-03, -1.55212376e-02, -1.31920464e-02,
         -3.59723084e-02, -2.49549802e-02],
        [-1.12560596e-02, -8.30010548e-02,  1.07557897e-03,
         -4.73261029e-02,  7.95032084e-03,  5.66969684e-04,
          1.86527905e-03, -1.41339481e-03,  2.18576808e-02,
          3.80693004e-02,  3.92851233e-02],
        [ 1.09548327e-02,  2.19348781e-02,  9.51249804e-03,
         -3.36826742e-02, -2.03894125e-03, -3.69692892e-02,
         -9.06341523e-03, -3.03303879e-02,  2.01131608e-02,
         -4.53757420e-02,  1.90239120e-02],
        [-4.30714116e-02,  4.51561928e-01,  3.34909186e-02,
          3.31401914e-01,  1.01393657e-02,  2.01144636e-01,
          1.95928857e-01,  2.45778002e-02,  7.77055100e-02,
          4.37892318e-01,  1.09150715e-01],
        [-4.93888631e-02,  4.42331672e-01,  2.71630213e-02,
          3.33504796e-01,  1.69124082e-02,  2.06308722e-01,
          1.89230695e-01,  2.67355219e-02,  7.14085326e-02,
          4.27158415e-01,  1.20258071e-01],
        [ 1.94940877e+00,  2.58397532e+00,  1.82886529e+00,
         -2.10909271e+00, -2.42131948e+00, -2.06373501e+00,
          2.34053349e+00, -2.04533386e+00,  2.10251808e+00,
          1.40443766e+00, -1.39494228e+00],
        [ 1.78295887e+00,  1.81144094e+00,  1.62092471e+00,
         -1.93437076e+00, -2.20404339e+00, -1.62840128e+00,
          2.30800271e+00, -1.92428517e+00,  1.81153822e+00,
          1.40220046e+00, -1.69780195e+00]], dtype=float32),
 array([ 0.8263415 ,  1.0194973 ,  0.73707414, -0.90119433, -1.0721996 ,
        -0.81116277,  1.0968573 , -0.9056011 ,  0.86851233,  0.5409986 ,
        -0.5873523 ], dtype=float32)]

In [ ]:
y_pred=model.predict(X_test)

63/63 [==============================] - 0s 1ms/step

In [ ]:
y_pred = y_pred.argmax(axis=-1)

In [ ]:
predictions=np.where(y_pred>0.5,1,0)

In [ ]:
predictions

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)
#to improve accuracy increase hidden layers,change activation function to relu,increase number of epochs

0.752